* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#btn {
  min-width: 200px;
  min-height: 35px;
  border-radius: 10px;
  font-size: 15px;
  padding: 10px;
  cursor: pointer;
  border: 1px solid;
}
#btn:hover {
    background-color: bisque;
}